
body {
  text-align: center;
  background-color:#EEEEEE;
}

.container {
  margin: 2% auto;
  width: 80%;
  font-size: large;
  font-family: sans-serif;
  text-align : center;
  /* from ExCon */
  background : #ffffff;
  border-style : solid;
  border-width : 1px;
  border-color : #ccc;
  padding : 30px;
  border:1px solid #ccc;
  -webkit-box-shadow:rgba(0,0,0,.2) 0 0 5px;
  -moz-box-shadow:rgba(0,0,0,.2) 0 0 5px;
  -o-box-shadow:rgba(0,0,0,.2) 0 0 5px;
  box-shadow:rgba(0,0,0,.2) 0 0 5px;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.question {
  margin-bottom: 5px;
}

.answer {
  margin-top: 5px;
}

/* with help from http://www.bestcssbuttongenerator.com/ */
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  padding:7px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
}
.button:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
  background-color:#ffab23;

}
.button:active {
  position:relative;
  top:1px;
}

.column {
  background: aliceblue;
}

#experienceDisplay {
  position: relative;
  font-size: 54px;
}



#rect1 { fill: url(#Gradient1); }
.stop1 { stop-color: #EEE; }
.stop2 { stop-color: #FFFfFf;}
.stop3 { stop-color: rgba(150, 150, 150, 0.6); }

.simultaneousTable {
  width: 700px;
  margin: 10px auto; /* to center the table */
}

/* put a border around all divs underneath the main container div */
#information > div {
  /*
  border: darkgrey;
  border-style: double;
  */
}

.info-format {
  padding:11px;
  border-bottom: 1px solid #ddd;
}

textarea {
  width: 90%
}


input[type="radio"] {
  margin: 0 6%;
}

.alignleft {
  float: left;
  text-align:left;
  width:33.33333%;
}

.aligncenter {
  float: left;
  text-align:center;
  width:33.33333%;
}

.alignright {
  float: left;
  text-align:right;
  width:33.33333%;
}

.labels {
  margin: 0px;
  font-size:18px;
}

.radioButtons {
  width: 100%;
}

.sliders > li {
  list-style:none;
  padding: 1px;
}

.ui-slider {
  float: right;
  width: 80%;
}

.slider-box {
  width: 60%;
  padding: 10px 40px 10px 0px;
  margin: auto;

}

.ui-slider .ui-slider-handle {
  width: 2.2em;
}

.ui-slider-handle {
  text-decoration: none;
  width: 30px;
  text-align: center;
}

ul > li > div {
  background-color: rgb(192, 219, 245);
}

/* TODO find better way to change size of this text 
#strengthChoice {
  font-size: 20px;

}
*/

.ui-slider-handle {
  left: 0%;
  text-align: center;
}

.ui-widget .ui-widget {
  margin-top: 5px;
  font-size: 1em;
  padding-top: 15px;
}

/* you win css */
body {
  font:15px tahoma, sans-serif;
}

    .ui-slider .ui-slider-handle2 {
              height: 0.01em;
                              width: 0.01em;
                                             }
    .ui-slider .ui-state-default2 {
              color: #FFFFFF;
                             background: #FFFFFF;
                                                 border: #FFFFFF;
                                                                 }
.slider {
     margin: 10px 10px;
}

.ui-slider-horizontal { 
     height: .8em; 
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 0px;
}

/* styling for the moving handle bit of the slider */
.ui-slider-handle {
     text-decoration: none;
        /*width: 30px; */
        text-align: center;
}


